<!DOCTYPE html>
<html>
    <head>
    <title>Past Orders</title>
    </head>
    <body>
        <h1>Past Orders</h1>
        {% if past_orders %}
        {% for order_group in past_orders %}
            <h2>Order Number: {{ order_group._id }}</h2>
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
                {% for order in order_group.orders %}
                <tr>
                    <td>{{ order._id }}</td>
                    <td>{{ order.item }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
        {% else %}
        <h2>No orders made yet!</h2>
        {% endif %}    
    </body>
</html>