<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/dashStyle.css">
</head>
<body>
	<div class="nav">
	<i class='fas fa-coffee'></i>
		<div class="logo">
		<h1>free<b>Raj</b></h1>
		</div>
	</div><br>
    <div id="past-orders">
	<h2>Past Orders</h2>
        {% if past_orders %}
        {% for order_group in past_orders %}
            <h4>Order Number: {{ order_group._id }}</h4><br>
            <div class="order-list">
                <div class="sub-div">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Items</th>
                            <th>Quantities</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in order_group.orders %}
                                    <tr>
                                        <td>{{ order._id }}</td>
                                        <td>{{ order.item }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td>{{ order.status }}</td>
                                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% else %}
        <h2>No orders made yet!</h2>
        {% endif %}  
        </div>  
    </body>
</html>