<!DOCTYPE html>
<html>
    <head>
        <title>Payment Gateway</title>
    </head>
    <body>
        <h1>Cart Items</h1>
        <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Preparation Time</th>
            <th>Action</th>
        </tr>
        {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item["item"]}}</td>
            <td>{{ cart_item["quantity"]}}</td>
            <td>{{ cart_item["price"]}}</td>
            <td>{{ cart_item["preparation_time"]}}</td>
            <td>
            {% endfor %}
        </table>
        <form method="POST">
        <input type="submit" value="Pay">
        </form>
    </body>
</html>