<!DOCTYPE html>
<html>
    <head>
        <title>Payment Gateway</title>
    </head>
    <body>
        <h1>Cart Items</h1>
        <table>
            <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Preparation Time</th>
            </tr>
            {% for cart_item in cart_items %}
                {% for index in range(cart_item["items"]|length) %}
                <tr>
                <td>{{ cart_item["items"][index] }}</td>
                <td>{{ cart_item["quantities"][index] }}</td>
                <td>{{ cart_item["preparation_times"][index] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <form method="POST">
        <input type="submit" value="Pay">
        </form>
    </body>
</html>