<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/dashStyle.css">
</head>
<body>
	<div class="nav">
	<i class='fas fa-coffee'></i>
		<div class="logo">
		<h1>free<b>Raj</b></h1>
		</div>
	</div><br>
    <h2>Recommendations for {{ username }}</h2>
    <p>Most Recent Item: {{ recent_item }}</p>
    {% if recommendations %}
        <ul>
            {% for recommendation in recommendations %}
			<li>
			<div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                    {{ recommendation }}
                    </div>
                </div>
            </div>
			</li> 
				
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available.</p>
    {% endif %}
</body>
</html>
