<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
</head>
<body>
    <h1>Student Login</h1>
    <div>
        <canvas id="qrcode"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/qrious"></script>
    <script>
        var canvas = document.getElementById("qrcode");

        var fixedLink = "{{ public_url }}"; // Your fixed link

        var qr = new QRious({
                element: canvas,
                value: fixedLink,
                size: 128,
                background: "white",    
                foreground: "#6B5B95" 
            });
    </script>
    
    <form action="/" method="post">
        PRN Number: <input type="text" name="prn" required>
        <br><br>
        Password: <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Login as Student">
    </form>

    <!-- Button to login as a vendor -->
    <form action="/vendor_login" method="get">
        <input type="submit" value="Login as Vendor">
    </form>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <br>
    <a href="/create_account">Create Account</a>
</body>
</html>
