<!DOCTYPE html>
<html>
<head>
    <title>View Cart</title>
</head>
<body>
    <h1>Cart Items</h1>
    {% if cart_items %}
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Preparation Time</th>
            <th>Action</th>
        </tr>
        {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item["item"]}}</td>
            <td>{{ cart_item["quantity"]}}</td>
            <td>{{ cart_item["price"]}}</td>
            <td>{{ cart_item["preparation_time"]}}</td>
            <td>
                <form method="POST" action="{{ url_for('view_cart', prn=student.prn) }}">
                    <input type="hidden" name="item_id" value="{{ cart_item['_id'] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST" action="{{ url_for('payment_gateway', prn=student.prn) }}">
        <button type="submit">Checkout</button>
    </form>
    <form method="POST" action="{{ url_for('dashboard', prn=student.prn) }}">
        <button type="submit">Go back to dashboard</button>
    </form>
    
    {% else %}
        <h2>Cart is currently empty!</h2>
        <form method="POST" action="{{ url_for('dashboard', prn=student.prn) }}">
            <button type="submit">Go back to dashboard</button>
        </form>
    {% endif %}
</body>
</html>