<!DOCTYPE html>
<html>
<head>
    <title>View Cart</title>
</head>
<body>
    <h1>Cart Items</h1>
    {% if cart_items %}
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Preparation Time</th>
            <th>Action</th>
        </tr>
        {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item["item"]}}</td>
            <td>{{ cart_item["quantity"]}}</td>
            <td>{{ cart_item["price"]}}</td>
            <td>{{ cart_item["preparation_time"]}}</td>
            <td>
                <form method="POST" action="{{ url_for('view_cart', prn=student.prn) }}">
                    <input type="hidden" name="item_id" value="{{ cart_item['_id'] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('payment_gateway', prn=student.prn) }}">Checkout</a>
    <a href="{{ url_for('dashboard', prn=student.prn) }}">Go back to dashboard</a>
    
    {% else %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-message">
        {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <a href="{{ url_for('dashboard', prn=student.prn) }}">Go back to dashboard</a>
    {% endif %}
</body>
</html>