@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
	background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 20px;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.nav .logo h1 {
	font-weight: 600;
	font-family: sans-serif;
	color: #000000;
}

.nav .logo b {
	color: #e60000
}

h1, h2 {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

        li {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="number"] {
            width: 50px;
        }

        button {
            background-color: #ff1a1a;
            color: #fff;
            border: none;
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 3px;
        }
		
		button:hover {
			background-color: #e60000/*#000066*/;
		}

        #ready-orders, #most-recent-order {
            margin-top: 20px;
        }

        #ready-orders h2, #most-recent-order h2 {
            color: #000000;
            padding: 10px;
            border-radius: 5px;
        }

        #ready-orders .order-list {
            margin-top: 10px;
        }

        #past_orders {
            margin-top: 20px;
        }