<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Clusters</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="/static/ClusterStyle.css">
</head>
<body>
<div class="nav">
	<i class='bx bx-camera icon'></i>
		<div class="logo">
			<h2>ClickClickGo</h2>
		</div>
</div>
  <h1>Clusters</h1>
  <div class="image-container">
    {% for cluster_dir in cluster_dirs %}
      <a href="/{{ username }}/cluster/{{ cluster_dir }}">
        <img src="{{ url_for('static', filename='clusters/' + cluster_dir + '/face_' + cluster_dir.split('_')[1] + '.jpg') }}" alt="{{ cluster_dir }}">
      </a>
    {% endfor %}
  </div>
</body>
</html>