<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face {{cluster_dir.split('_')[1]}}</title>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
	<link rel="stylesheet" href="./ClusterStyle.css">
</head>
<body>
<div class="nav">
	<i class='bx bx-camera icon'></i>
		<div class="logo">
			<h2>ClickClickGo</h2>
		</div>
</div>
    <header>
        <h1>{{ cluster_dir }}</h1>
    </header>

    <div class="image-container">
        {% for cluster_image in cluster_images %}
            <img src="{{ url_for('static', filename='clusters/' + cluster_dir + '/' + cluster_image) }}" alt="{{ cluster_image }}">
        {% endfor %}
    </div>
</body>
</html>
