<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
	<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
	<link rel="stylesheet" href="/static/galleryStyle.css">

</head>
<body>
<div class="nav">
	<i class='bx bx-camera icon'></i>
		<div class="logo">
			<h2>ClickClickGo</h2>
		</div>
</div>
    <div class="content">
        
        <div class="container">
            <div id="image-gallery">
                {% for image in gallery %}
                    {% if image %}
                        <div class="image-card">
                            <img src="{{ url_for('static', filename='uploads/' + image.filename) }}" alt="Image">
                            {% if user_type == 'host' %}
                            <button class="delete-button" data-image-id="{{ image._id }}">Delete</button>
                            {% endif %}
                        </div>
                    {% else %}
                        <p>No images clicked yet! Click some photos before you can view them.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	<center><button class="primary-btn" id="back-button">Back to ongoing events</button></center>
</section>

	<script  src="./script1.js"></script>
    <script>
        const backButton = document.getElementById('back-button');
        backButton.addEventListener('click', () => {
            window.location.href = "/{{username}}/ongoing_event";
        });

        document.querySelectorAll('.delete-button').forEach((button) => {
            button.addEventListener('click', () => {
                const imageId = button.getAttribute('data-image-id');
                fetch(`/delete_image/${imageId}`, {
                    method: 'DELETE',
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data.message);
                    button.parentElement.remove();
                })
                .catch((error) => {
                    console.error('Error deleting image:', error);
                });
            });
        });
    </script>
</body>
</html>
