<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Host Dashboard</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="stylesheet" href="/static/homestyle.css"> 

</head>
<body>
<!-- partial:index.partial.html -->
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-camera icon'></i>
    <div class="logo_name">ClickClickGo</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class=''></i>
      <input type="text" placeholder="">
      <!--<span class="tooltip">Search</span>-->
    </li>
    <li>
      <a href="/{{ username }}/new_event">
        <i class='bx bx-book-add'></i>
        <span class="links_name">New Event</span>
      </a>
      <span class="tooltip">New Event</span>
    </li>
    <li>
      <a href="/{{ username }}/past_event">
        <i class='bx bx-archive-in'></i>
        <span class="links_name">Past Event</span>
      </a>
      <span class="tooltip">Past Event</span>
    </li>
    <li>
      <a href="/{{ username }}/ongoing_event">
        <i class='bx bx-alarm'></i>
        <span class="links_name">Ongoing Event</span>
      </a>
      <span class="tooltip">Ongoing Event</span>
    </li>
	<li>
      <a href="/logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log Out</span>
      </a>
      <span class="tooltip">Log Out</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name"><span class="username">{{ username }}</span></div>
        </div>
      </div>
		<i class='bx bx-user' id="log_out"></i>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="text">Dashboard</div>
  
    
  <div class="container">
  <div class="box">
    <div class="imgBox">
      <img src="/static/images/step1.jpeg" alt="">
    </div>
    <div class="content">
      <h2>Step 1</br>
        <span>Create New Event</span>
      </h2>
    </div>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/static/images/step2.jpeg" alt="">
    </div>
    <div class="content">
      <h2>Step 2<br>
        <span>Share QR with friends</span>
      </h2>
    </div>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/static/images/step3.jpeg" alt="">
    </div>
    <div class="content">
      <h2>Step 3</br>
        <span>Click pictures and creat memory!</span>
      </h2>
    </div>
  </div>
</div>
  
</section>

	<script  src="/static/script1.js"></script>

</body>
</html>
