<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ClickClickGO </title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="flex-container">
	<div class="flex-slide home">
		<div class="flex-title flex-title-home"> Welcome </div>
		<div class="flex-about flex-about-home">
			<p>Welcome to ClickClickGo! </p>
			<p>Go to Attendee section to start clicking pictures.</p>
			<p>If you are an existing host, Login or go to Register if your are new!</p></div>
	</div>
	<div class="flex-slide about">
		<div class="flex-title">Attendee</div>
		<div class="flex-about">
			<p>Attendee Login</p>
			<form class="attendee-form" method="POST" action="/attendee_login">
                <label for="username">Host Username:</label>
                <input type="text" id="username" name="username" required>
				<button type="submit" class="btn">Login</button>
			</form>
		</div>
	</div>
	<div class="flex-slide work">
		<div class="flex-title">Login</div>
		<div class="flex-about">
			<p>Host Login</p>
				<form class="login-form" action="/" method="post">
					<label for="username">Username:</label>
					<input type="text" id="username" name="host_username" required>
					<label for="password">Password:</label>
					<input type="password" id="password" name="host_password" required>
					<button id="loginButton" type="submit">Login</button>
				</form>
		</div>
	</div>
	<div class="flex-slide contact">
		<div class="flex-title">Register</div>
				<div class="flex-about">
					<p>Host Registration</p>
						<form class="register-form" action="/" method="post">
							<label for="username">Username:</label>
							<input type="text" id="username" name="signup_username" required>
							<label for="password">Password:</label>
							<input type="password" id="password" name="signup_password" required>
							<button type="submit">Sign Up</button>
						</form>

		</div>
	</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/jquery.waitforimages.min.js'></script>
<script  src="/static/script.js"></script>

</body>
</html>
