<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Past Event</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="/static/style1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-camera icon'></i>
    <div class="logo_name">ClickClickGo</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class=''></i>
      <input type="text" placeholder="">
      <!--<span class="tooltip">Search</span>-->
    </li>
    {% if user_type == 'host' %}
    <li>
      <a href="/{{ username }}/HostDashboard">
        <i class='bx bxs-home'></i>
        <span class="links_name">Home Page</span>
      </a>
      <span class="tooltip">Home Page</span>
    </li>
    <li>
      <a href="/{{ username }}/new_event">
        <i class='bx bx-book-add'></i>
        <span class="links_name">New Event</span>
      </a>
      <span class="tooltip">New Event</span>
    </li>
    {% endif %}
    <li>
      <a href="/{{ username }}/ongoing_event">
        <i class='bx bx-alarm'></i>
        <span class="links_name">Ongoing Event</span>
      </a>
      <span class="tooltip">Ongoing Event</span>
    </li>
  {% if user_type == 'host' %}
	<li>
      <a href="/logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log Out</span>
      </a>
      <span class="tooltip">Log Out</span>
    </li>
    
    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name"><span class="username">{{ username }}</span></div>
        </div>
      </div>
		<i class='bx bx-user' id="log_out"></i>
    </li>
    {% endif %}
    {% if user_type == 'attendee' %}
    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name"><span class="username">Attendee</span></div>
        </div>
      </div>
		<i class='bx bx-user' id="log_out"></i>
    </li>
    {% endif %}
  </ul>
</div>
<section class="home-section">
  <div class="text"></div>
  
  <div class="content-container">
        <div class="content">

            {% if closed_events %}
                    {% for event in closed_events %}
                    <h2 class="header-title">{{ event.eventName }}</h2>
                    <p>Duration: {{ event.duration }} hours | Photo Limit: {{ event.photos }}</p>
                    <p>Host: {{ event.hostName }}</p>
                    <p>Date and Time of Creation: {{ event.createdOn }}</p>
                    <div class="open-gallery-button">
                      <button onclick="window.location.href='/{{ username }}/gallery/'" class="primary-btn">Open Gallery</button>
                    </div>
                    
                    <div class="open-gallery-button">
                      <button onclick="window.location.href='/{{ username }}/clusters'" class="primary-btn">View Clusters</button>
                    </div>
                {% endfor %}
                {% else %}
                <div class="header-title-container">
                    <p>No past events available.</p>
                </div>
                {% endif %}
        </div>
    </div>
  
</section>
<!-- partial -->
  <script  src="/static/script1.js"></script>

</body>
</html>
